.Contact-Card{
    /* color: blue; */
    /* border: 1px solid blue; */
    /* background-color:rgb(red, green, blue); */
    width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
}
.male{
    color: blue;
    border: 1px solid blue;
    background-color: rgb(red, green, blue);
}
.female{
    color: red;
    border: 1px solid red;
    background-color: rgb(red, green, blue);
}
.contacted{
    color: grey;
    text-decoration: line-through;
}